<div class="hero-background full-bleed">
  <div class="hero-bg-parallax"></div>
  <div class="hero-overlay">
    <img src="/ctnames2.png" class="hero-names-img" alt="Caio & Tatiana">
  </div>
</div>


<div class="section-scroll-over">
   <span class="corner tl"></span>
  <span class="corner br"></span>
  <div class="hero-info">
    <div class="hero-message">Fai questo viaggio con noi</div>
    <div class="hero-save-date">Save the date: 22 November 2025</div>
    <div class="hero-address">Address: Warehouse, via Feltre 32, Milan</div>
  </div>
</div>
