/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.app-sidenav .mdc-list-item__primary-text,
.app-sidenav .mat-mdc-list-item .mdc-list-item__primary-text {
  font-family: 'Cinzel', serif !important;
  font-size: 1.35rem !important;
  color: #fff !important;
}

/* blocca scroll (già suggerito) */
html.loading-lock, body.loading-lock { overflow: hidden; }

/* NASCONDI tutto il contenuto dell'app eccetto il loader */
html.loading-lock app-nav-bar,
html.loading-lock .content {
  visibility: hidden !important;
}
